* {
    box-sizing: border-box;
    transition: 0.2s;
}

:root {
    --primary-color: #7264d6;
    --primary-font-color: #212832;
    --secondary-font-color: #696d76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--primary-font-color);
    font-size: 1.6rem;
    font-family: "Open Sans", serif;
}

/* COMMON */
a {
    color: inherit;
    text-decoration: none;
}

form,
select,
input,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem; /* 125% */
}

.section__desc {
    color: var(--secondary-font-color);
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.section__title-tag {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #696d77;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.section__title-tag::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

/* TOP-HEADER */

.top-header {
    background: #fff;
    position: sticky;
    top: -27px;
    z-index: 99;
}

.top-header__content {
    padding: 42px 0 15px;
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: 70px;
    display: flex;
    gap: 48px;
}

.navbar__link {
    color: var(--secondary-font-color);
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.navbar__link--active {
    position: relative;
    color: var(--primary-font-color);
    font-weight: 600;
}

.navbar__link--active::before {
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 1px;
    border-radius: 99px;
    background: var(--primary-color);
}

.navbar__link:hover {
    text-decoration: underline;
}

.top-header__action {
    margin-left: auto;
    display: flex;
    gap: 28px;
    align-items: center;
}

.top-header__action--login {
    color: var(--primary-font-color);
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.top-header__action--signup {
    padding: 12px 28px;
    background: var(--primary-font-color);
}

/* HERO */

.hero {
    height: calc(100vh - 109px);
}

.hero__content {
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__info-block {
    width: 540px;
}

.hero__title {
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem; /* 116.667% */
}

.hero__title--important {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    color: var(--secondary-font-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.hero__form {
    margin-top: 40px;
    padding: 8px;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
}

.hero-form__input::placeholder {
    color: var(--secondary-font-color);
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.hero-form__submit {
    flex-shrink: 0;
    border: none;
}

.hero-form__notice {
    margin-top: 20px;
    color: var(--secondary-font-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}

.hero__img-block {
    position: relative;
    display: flex;
    width: 470px;
}

.hero__img-decor1 {
    position: absolute;
    top: 127px;
    left: 340px;
}

.hero__img-decor2 {
    position: absolute;
    bottom: 61px;
    left: 246px;
}

.hero__img-decor3 {
    position: absolute;
    left: -100px;
    top: 113px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__decor3-text {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem; /* 100% */
}

.hero__decor3-price {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem; /* 100% */
}

/* WORK */

.work {
    padding: 80px 0;
}

.work__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__img-block {
    position: relative;
    display: flex;
    justify-content: center;
    width: 470px;
}

.work__img {
    position: relative;
}

.work__img-bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.work__img-decor1 {
    position: absolute;
    top: 76px;
    right: 62px;
}

.work__img-decor2 {
    position: absolute;
    bottom: 96px;
    left: 344px;
    padding: 15px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__decor2-info--upper {
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work__decor2-info--lower {
    margin-top: 5px;
    color: var(--secondary-font-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.work__title {
    margin-top: 12px;
}

.work__list {
    margin-top: 70px;
}

.work__item {
    width: 470px;
}

.work__item + .work__item {
    margin-top: 30px;
}

.work__item-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem; /* 145.455% */
}

.work__item-desc {
    color: var(--secondary-font-color);
    margin-top: 16px;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

/* FEATURE 1 + 2 */

.feature {
    padding: 80px 0;
}

.feature__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__info-block {
    width: 470px;
}

.feature__title {
    margin-top: 12px;
}

.feature__desc {
    margin-top: 20px;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.feature__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    background: var(--primary-color);
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature__btn {
    margin-top: 38px;
    background-color: var(--primary-font-color);
}

.feature1__img-block {
    position: relative;
    width: min-content;
    padding-right: 88px;
}

.feature1__img-decor1 {
    position: absolute;
    top: -72px;
    right: -38px;
}

.feature1__img-decor2 {
    position: absolute;
    bottom: -55px;
    right: 0px;
}

.feature2__img-block {
    position: relative;
    display: flex;
    justify-content: center;
    width: 470px;
}

.feature2__img-bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.feature2__img-decor-bonus {
    position: absolute;
    top: -35px;
    right: -26px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border-radius: 50%;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature2__img-decor {
    position: absolute;
    bottom: 57px;
    right: -74px;
    height: min-content;
    padding: 28px;
    background: #ffffff;
    border-radius: 9px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature2__img-decor-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.feature2__img-decor-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
}

/* REVIEW */

.review {
    padding: 80px 0;
}

.review__title-tag,
.review__desc {
    display: inline-flex;
}

.review__content {
    text-align: center;
}

.review__title {
    margin-top: 12px;
}

.review__desc {
    margin-top: 18px;
    margin-bottom: 70px;
    max-width: 435px;
}

.review__all-review {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.review__list {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    gap: 30px;
}

.review__item {
    position: relative;
}

.review-item__img-wrapper {
    margin-top: 96px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.review-item__img-wrapper1 {
    background: #4ab5e3;
}
.review-item__img-wrapper2 {
    background: #439f90;
}

.review-item__text {
    position: relative;
    padding: 42px 28px;
    color: var(--secondary-font-color);
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 3.4rem; /* 154.545% */
}

.review-item__text::before .review-item__author {
    margin-top: 20px;
    color: #070052;
    font-family: "Open Sans";
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem; /* 138.462% */
}

.review-item__job {
    margin-top: 2px;
    color: var(--secondary-font-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.review-item__text-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    color: #dfe2e8;
}

.review__item:hover .review-item__text-bg {
    color: #ffffff;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review__pages {
    margin-top: 38px;
    display: inline-flex;
    gap: 12px;
}

.review__page {
    height: 6px;
    width: 20px;
    border-radius: 1px;
    border: 1px solid #9B9FAB;
}

.review__page--current {
    border-color: var(--primary-color);
    background: var(--primary-color);
}